* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #232323;
    font-family: 'Rancho', cursive;
    text-transform: uppercase;
}

header {
    background-color:slategray;
    height: 200px;
    letter-spacing: 2px;
    padding: 20px;
    text-align: center;
}

.heading-color {
    display: block;
    font-size: 50px;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
}

nav h2 {
    border-bottom: 2px solid transparent;
    padding: 15px 10px;
}

.game-mode {
    display: inline-flex;
}

.error-msg {
    visibility: hidden;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    background-color: #33eeff;
    border-radius: 25px;
    float: left;
    padding-bottom: 30%;
    margin: 10px;
    width: 30%;
}

.hard-mode:hover,
.easy-mode:hover,
.new-game:hover {
    background-color: slategray;
    border-bottom: 2px solid #33eeff;
    color: #33eeff;
    cursor: pointer;
}

.selected {
    background-color: slategray;
    border-bottom: 2px solid #33eeff;
    color: #33eeff;
}
