* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #232323;
    font-family: 'Rancho', cursive;
}

header {
    background-color: blanchedalmond;
    height: 200px;
    letter-spacing: 2px;
    padding: 20px;
    text-align: center;
}

.heading-color {
    display: block;
    font-size: 50px;
}

nav {
    background-color: #fff;
    height: 50px;
    padding: 15px;
    position: relative;
}

nav h2 {
    display: inline;
}

.new-game {
    position: absolute;
    left: 80px;
}

.game-mode {
    position: absolute;
    right: 80px;
}

.hard-mode {
    padding: 0 10px;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    background-color: #33eeff;
    border-radius: 25px;
    float: left;
    padding-bottom: 30%;
    margin: 10px;
    width: 30%;
}
